.wrapper {
  background: var(--overlay-dark);
  padding: var(--spacing) 0;
}

.title,
.subtitle {
  margin-top: 0;
  text-align: center;
}

.title {
  font-size: 3em;
  margin-bottom: 0;
}

.subtitle {
  margin-bottom: 0.5em;
}

.avatar {
  border-radius: 100%;
}

.titleWrapper {
  display: flex;
  gap: 1.5em;
  align-items: center;
  justify-content: center;
}
