.iconLink {
  max-width: 35px;
  max-height: 35px;
  flex: 1;
  &:hover,
  &:active,
  &:focus {
    .icon {
      transform: scale(1.1);
      fill: var(--accent);
    }
  }
}

.icon {
  transition: var(--transition-time);
  fill: var(--text);
}
