.iconLink {
  max-width: 35px;
  max-height: 35px;
  flex: 1;
  &:hover,
  &:active,
  &:focus {
    .icon {
      transform: scale(1.1);
      opacity: 1;
    }
  }
}

.icon {
  opacity: 0.8;
  transition: 150ms;
  fill: var(--accent);
}
