.link {
  color: var(--text);
  text-underline-offset: 2px;
  text-decoration: none;
  font-weight: 300;
  border-bottom: 1px solid currentColor;
  &:hover {
    color: var(--accent);
    border-bottom-width: 3px;
    border-radius: 2px;
  }
  transition-property: color border-bottom-width border-radius;
  transition-duration: var(--transition-time);
}
