.modCard {
  border-radius: 1em;
  overflow: hidden;
  background: var(--overlay-dark);

  h4 {
    text-align: center;
    margin: 1em 0 0.5em 0;
  }
}

.thumbnailWrapper {
  position: relative;
  // z-index: -1;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.thumbnail {
  object-fit: contain;
  object-position: top;
  display: block;
  box-shadow: 0 0 30px black;
}

.thumbnailBackground {
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(10px);
}

.content {
  padding: 1em;

  a {
    color: white;
    font-weight: 400;
    opacity: 0.8;
    transition: 150ms;
    &:hover {
      opacity: 1;
    }
  }
}

.titleWrapper {
  position: absolute;
  bottom: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 400;
  font-size: 3em;
  margin: 0;
  text-align: center;
  width: 100%;
  color: white;
  text-shadow: 0 0 8px black;
}

.gameName {
  opacity: 1;
  line-height: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  padding: 0.2em 0.5em;
  display: inline-block;
}

.description {
  margin-top: 0;
}

.videoList {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.video {
  border-radius: 1em;
  overflow: hidden;
  transition: transform 150ms;
  img {
    display: block;
  }
  &:hover {
    transform: scale(1.05);
  }
}

.downloadLink {
  text-decoration: none;
  display: flex;
  background-color: #0f8b5e;
  padding: 0.5em 1em;
  border-radius: 1em;
}

.patreonLink {
  text-decoration: none;
  display: flex;
  background-color: #c42e35;
  padding: 0.5em 1em;
  border-radius: 1em;
}

.buttonIcon {
  fill: white;
  height: 1.5em;
  margin-right: 0.5em;
}

.linkListWrapper {
  display: flex;
  justify-content: center;
}

.listLink {
  text-decoration: none;
  display: block;
  span {
    border-bottom: 2px solid;
  }
}

.linkList {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.downloadWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
