.projectCard {
  margin: var(--spacing) 0;
  padding: var(--spacing);
  border: 1px solid var(--highlight);
  border-radius: 15px;
  color: var(--text);
  text-decoration: none;
  &:hover {
    background: var(--highlight);
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.description {
  font-size: 0.8em;
  line-height: 1.4em;
  margin-top: 0;
}

.title {
  margin: -5px 0 0 0;
  color: var(--accent);
}

.starIcon {
  width: 20px;
  height: 20px;
  fill: var(--accent);
}
