.projectCard {
  margin: var(--spacing) 0;
  padding: var(--spacing);
  border-radius: 20px;
  color: var(--text);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  box-shadow: inset 0 0 10px 0px var(--highlight);
  transition: var(--transition-time);
  &:hover {
    box-shadow: inset 0 0 10px 0px var(--text);
  }
}

.description {
  font-weight: lighter;
  line-height: 1.4em;
  margin-top: 0;
}

.title {
  font-weight: 300;
  margin: -5px 0 0 0;
  color: var(--accent);
}
