.projectsSection {
  max-width: 700px;
  margin: auto;
  padding-bottom: var(--spacing);
}

.title {
  margin: 0;
  font-weight: 350;
  color: white;
}

.description p {
  line-height: 1.4em;
  font-size: 0.9em;
}
