.wrapper {
  position: sticky;
  top: 0;
  background: var(--background);
  // background: linear-gradient(0, transparent 0%, var(--background) 50%);
  box-shadow: 0 5px 10px var(--background);
  z-index: 1;
}

.socialLinks {
  padding: var(--spacing) 0;
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  margin: auto;
}
