.wrapper {
  position: sticky;
  top: 0;
  background: var(--background);
  background: linear-gradient(0, transparent 0%, var(--background) 50%);
  z-index: 1;
  margin-bottom: var(--spacing);
}

.socialLinks {
  padding: var(--spacing) 0;
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  margin: auto;
}
