.wrapper {
  position: sticky;
  top: 0;
  background: var(--overlay-dark);
  margin-bottom: calc(2 * var(--spacing));
  z-index: 1;
}

.socialLinks {
  padding: calc(var(--spacing) / 2) 0;
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  margin: auto;
}
