.tag {
  padding: calc(var(--spacing) / 3);
  display: inline-block;
  font-size: 0.75em;
  margin-right: var(--spacing);
  color: var(--background);
  background: var(--accent);
  border-radius: 3px;
  font-weight: bold;
  font-family: 'Courier New', Courier;
  opacity: 0.8;
}
