.tag {
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
  display: inline-block;
  font-size: 0.75em;
  margin-right: calc(var(--spacing) / 2);
  background: currentColor;
  border-radius: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier;
  opacity: 0.3;
  transition: var(--transition-time);
}

.content {
  color: var(--background);
}
