body {
  --background: #222;
  --background-light: #2e2e2e;
  --text: white;
  --accent: #8ee478;
  --spacing: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin: 0;
  color: var(--text);
  background: var(--background);
}

h1,
h2,
h3 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
}

a {
  color: var(--accent);
  text-decoration: none;
}
