/* Panda CSS */
@layer reset, base, tokens, recipes, utilities;

html {
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}
