@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
}

body {
  --background: #473a8f;
  color: white;
  background: var(--background);
  font-weight: lighter;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

.text-shadow {
  text-shadow: 0 0 10px black, 0 0 20px black;
}
