.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.content {
  padding: 0 var(--spacing);
  max-width: 800px;
  margin: auto;
  margin-bottom: 2em;
}
