.projectCard {
  margin: var(--spacing);
  padding: 15px;
  background: #2e2e2e;
  min-width: 300px;
  color: var(--text);
  text-decoration: none;
  &:hover {
    background: #3a3a3a;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.description {
  font-size: 0.8em;
}

.title {
  margin: 0;
}

.starIcon {
  width: 20px;
  height: 20px;
  fill: var(--accent);
}

.tag {
  padding: 3px 5px;
  font-size: 0.75em;
  margin: 5px;
  color: var(--background);
  background: var(--accent);
  border-radius: 3px;
  font-weight: bold;
  font-family: 'Courier New', Courier;
}
