body {
  --background: #222;
  --text: white;
  --accent: #8ee478;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin: 0;
  color: var(--text);
  background: var(--background);
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Courier New', Courier;
  font-weight: normal;
}

a {
  color: var(--accent);
}
